<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
	package="com.github.LJmartin94.zealotry">

	<uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
	<uses-permission android:name="android.permission.INTERNET" />
	<uses-permission android:name="com.android.alarm.permission.SET_ALARM" />
	<uses-permission android:name="android.permission-group.DEVICE_ALARMS" />

	<application
		android:allowBackup="true"
		android:icon="@mipmap/ic_ziggurat2"
		android:label="@string/app_name"
		android:roundIcon="@mipmap/ic_launcher_round"
		android:supportsRtl="true"
		android:theme="@style/AppTheme">
		<!-- <meta-data -->
		<!-- android:name="com.google.android.actions" -->
		<!-- android:resource="@xml/githubsearch" /> -->
		<activity
			android:name=".MainActivity"
			android:label="@string/app_name">
			<intent-filter>
				<action android:name="android.intent.action.MAIN" />

				<category android:name="android.intent.category.LAUNCHER" />
			</intent-filter>
		</activity>
		<activity
			android:name=".WeatherForecast"
			android:label="@string/act_WeatherForecast"
			android:parentActivityName=".MainActivity" />
		<activity
			android:name=".WFDetailActivity"
			android:label="@string/act_WeatherForecast"
			android:parentActivityName=".WeatherForecast">
			<meta-data
				android:name="android.support.PARENT_ACTIVITY"
				android:value=".MainActivity" />
		</activity>
		<activity
			android:name=".Morning_menu"
			android:label="@string/act_morning"
			android:parentActivityName=".MainActivity" />
		<activity
			android:name=".Morning_menu_wake_up"
			android:label="@string/wake_up"
			android:parentActivityName=".Morning_menu" />
		<activity
			android:name=".Day_menu"
			android:label="@string/act_day"
			android:parentActivityName=".MainActivity" />
		<activity
			android:name=".Evening_menu"
			android:label="@string/act_evening"
			android:parentActivityName=".MainActivity" />
	</application>

</manifest>