<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
	package="com.github.LJmartin94.zealotry">

	<uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
	<uses-permission android:name="android.permission.INTERNET" />
	<uses-permission android:name="com.android.alarm.permission.SET_ALARM" />
	<uses-permission android:name="android.permission-group.DEVICE_ALARMS" />
	<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

	<application
		android:allowBackup="true"
		android:icon="@mipmap/ic_ziggurat2"
		android:label="@string/app_name"
		android:roundIcon="@mipmap/ic_launcher_round"
		android:supportsRtl="true"
		android:theme="@style/AppTheme">

		<!-- MAIN MENU -->
		<activity
			android:name=".MainMenu.MainActivity"
			android:label="@string/app_name">
			<intent-filter>
				<action android:name="android.intent.action.MAIN" />

				<category android:name="android.intent.category.LAUNCHER" />
			</intent-filter>
		</activity>

		<!-- OVERVIEW MENU -->
		<activity
			android:name=".MainMenu.Overview.Overview_menu"
			android:label="@string/act_Overview"
			android:parentActivityName=".MainMenu.MainActivity" />
		<activity
			android:name=".MainMenu.Overview.Stats.StatsOverviewPage"
			android:label="STATS"
			android:parentActivityName=".MainMenu.Overview.Overview_menu" />
		<activity
			android:name=".MainMenu.Overview.WeatherForecast.WeatherForecast"
			android:label="@string/act_WeatherForecast"
			android:parentActivityName=".MainMenu.Overview.Overview_menu" />
		<activity
			android:name=".MainMenu.Overview.WeatherForecast.WFDetailActivity"
			android:label="@string/act_WeatherForecast"
			android:parentActivityName=".MainMenu.Overview.WeatherForecast.WeatherForecast">
			<meta-data
				android:name="android.support.PARENT_ACTIVITY"
				android:value=".MainMenu.MainActivity" />
		</activity>
		<activity
			android:name=".MainMenu.Overview.BackupData.BackupManagement"
			android:label="@string/act_ManageBackups"
			android:parentActivityName=".MainMenu.Overview.Overview_menu" />

		<!-- MORNING MENU -->
		<activity
			android:name=".MainMenu.Morning.Morning_menu"
			android:label="@string/act_morning"
			android:parentActivityName=".MainMenu.MainActivity" />
		<activity
			android:name=".MainMenu.Morning.Wake_up"
			android:label="@string/wake_up"
			android:parentActivityName=".MainMenu.Morning.Morning_menu" />

		<!-- DAY MENU -->
		<activity
			android:name=".MainMenu.Day.Day_menu"
			android:label="@string/act_day"
			android:parentActivityName=".MainMenu.MainActivity" />

		<!-- EVENING MENU -->
		<activity
			android:name=".MainMenu.Evening.Evening_menu"
			android:label="@string/act_evening"
			android:parentActivityName=".MainMenu.MainActivity" />
		<activity
			android:name=".MainMenu.Evening.ExerciseTest_Activity"
			android:label="@string/exercise"
			android:parentActivityName=".MainMenu.Evening.Evening_menu" />
		<activity
			android:name=".MainMenu.Evening.ExerciseTest_NewExercise_Activity"
			android:label="@string/exercise"
			android:parentActivityName=".MainMenu.Evening.ExerciseTest_Activity" />
	</application>

</manifest>